<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un compte</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/pages/auth.css">
</head>

<body>
    <div id="auth">

        <div class="row h-100">
            <div class="col-lg-5 col-12">
                <div id="auth-left">
                    <div class="auth-logo">
                        <a href="/"><img src="/static/images/logo/logo.png" alt="Logo"></a>
                    </div>
                    <h1 class="auth-title">Créer un compte</h1>

                    <form method="post" action="addMembre">
                        <div class="form-group position-relative has-icon-left mb-4">
                            <h5>Choisissez un avatar</h5>
                            {% for i in range(1,13) %}
                                <input type="radio" name="avatar" value="{{i}}.png">
                                <img src="/static/images/avatar/{{i}}.png" width = 60 height = 60/>
                            {% endfor %}
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="text" name="nom" class="form-control form-control-xl" placeholder="Nom">
                            <div class="form-control-icon">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="text" name="prenom" class="form-control form-control-xl" placeholder="Prénom">
                            <div class="form-control-icon">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="text" name="pseudo" class="form-control form-control-xl" placeholder="Pseudo">
                            <div class="form-control-icon">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="text" name="mail" class="form-control form-control-xl" placeholder="Email">
                            <div class="form-control-icon">
                                <i class="bi bi-envelope"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="password" name="mdp" class="form-control form-control-xl"
                                placeholder="Mot de passe">
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>

                        <input type="radio" name="statut" value="1" checked /> Gestionnaire
                        <input type="radio" name="statut" value="0"> Administrateur
                        
                        <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Créer le
                            compte</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-7 d-none d-lg-block">
                <div id="auth-right">

                </div>
            </div>
        </div>

    </div>

</body>


</html>