<!DOCTYPE html>
<html lang="en">

<head>
    {%include('layout/head.html')%}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-edi table/css/bootstrap-editable.css" />
    <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-edi table/css/bootstrap-editable.css" />
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="/"><img src="/static/images/logo/logo.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    {%include('layout/sidebar.html')%}
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            {% if info and info == "delOK" %}
            <div class="alert alert-success text-center">
                L'utilisateur a bien été supprimé
            </div>
            {% endif %}
            {% if info and info == "delProblem" %}
            <div class="alert alert-danger text-center">
                Problème avec la suppression de l'utilisateur
            </div>
            {% endif %}

            {% if liste %}
            {# liste #}

            <table class="table">
                <thead>
                    <tr>
                        <th>Supp</th>
                        <th>Avatar</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Mail</th>
                        <th>Login</th>
                        <th>Statut</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in liste %}
                    <tr>
                        <td>
                            <a href="/suppMembre?userDel={{user.idUser}}" class='sidebar-link'>
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                        <td><img src="/static/images/avatar/{{ user.avatar }}" width = 50 height = 50/></td>

                         
                        <td class='modif' data-url = 'updateMembre' data-name= 'nom'data-pk='{{user.idUser}}' > {{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.mail }}</td>
                        <td>{{ user.login }}</td>
                        <td>
                            {% if user.statut == 0 %}
                            Administrateur
                            {% else %}
                            Gestionnaire
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

            <footer>
                {%include('layout/footer.html')%}
            </footer>
        </div>
    </div>
    <script src="/static/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <script src="/static/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
        src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstr ap-editable.min.js"></script>
    <script>
        $.fn.editable.defaults.mode = 'inline'
        $(".modif").editable()
        $(".modifSelect").editable({
            type: 'select',
            source: [
                { value: 1, text: 'Gestionnaire' },
                { value: 0, text: 'Administrateur' }
            ]
        })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstr ap-editable.min.js"></script>
    <script>
        $.fn.editable.defaults.mode = 'inline'
        $(".modif").editable()
        $(".modifSelect").editable({
            type: 'select',
            source: [
                { value: 1, text: 'Gestionnaire' },
                { value: 0, text: 'Administrateur' }
                ]
        })
    </script>
</body>

</html>