<ul class="menu">
    <li class="sidebar-title">Menu</li>

    <li class="sidebar-item  ">
        <a href="/" class='sidebar-link'>
            <i class="bi bi-grid-fill"></i>
            <span>Tableau de bord</span>
        </a>
    </li>


    <!---->
    </article>
    
    <li class="sidebar-item  ">
        <a href="/aeroclubs" class='sidebar-link'>
            <i class="bi bi-grid-1x2-fill"></i>
            <span>Aéroclubs</span>
        </a>
    </li>


    <li class="sidebar-item  ">
        <a href="/calendrier" class='sidebar-link'>
            <i class="bi bi-calendar3-week-fill"></i>
            <span>Calendrier</span>
        </a>
    </li>


    <li class="sidebar-item ">
        <a href="/ui-file-uploader" class='sidebar-link'>
            <i class="bi bi-cloud-arrow-up-fill"></i>
            <span>Importer créneaux</span>
        </a>
    </li>
    
    <li class="sidebar-item  has-sub">
        <a href="#" class='sidebar-link'>
            <i class="bi bi-person-badge-fill"></i>
            <span>Authentication</span>
        </a>
        <ul class="submenu ">
            {% if not (session["statut"]==0 or session["statut"]==1) %}
            <li class="submenu-item ">
                <a href="/connecter">Se connecter</a>
            </li>
            {% endif %}
            {% if session["statut"]==0 %}
            <li class="submenu-item ">
                <a href="/compte">Créer un compte</a>
            </li>
            <li class="submenu-item ">
                <a href="/gérer-profils">Gérer les profils</a>
            </li>
            {% endif %}
            {% if session["statut"] == 0 or session["statut"] == 1 %}
            <li class="submenu-item ">
                <a href="/logout">Se déconnecter</a>
            </li>
            {% endif %}
        </ul>
    </li>

    <li class="sidebar-item  ">
        <a href="/webmaster" class='sidebar-link'>
            <i class="bi bi-info-circle"></i>
            <span>À propos</span>
        </a>
    </li>


</ul>